<html>
  <head>
  </head>
  <body>
    <section class="hero">
      <br>
        <br>
          <br>
          <br>
            <br>
            <br>
              <br>
                <br>
                  <br>

            <br>
              <br>
                <br>
                  <br>
                  <br>
                    <br>
                      <br>
                        <br>
                    <br>
      <div class="row">
        <div class="large-6 large-push-2 columns">
          <div class="circle-bg quote-1">
            <p><font size =7>GIVE</font></p>
          </div>
        </div>
        <div class="large-6 large-pull-2 columns">
          <div class="circle-bg quote-2">
              <p><font size =7>TAKE</font></p>
          </div>
        </div>
      </div>
    </section>
    <div class="row text-center">
       <%= link_to "Sign In", new_user_path %>
        <!-- <h1>Give & Take</h1> -->
        <!-- <h2 class="subheader">You met me at a very strange time in my life.</h2> -->
      </div>
    </div>

  </body>
</html>
