<html>
  <head>
  </head>
  <body>
    Details on a Specific Item
    <div class="row">
      <div class="large-6 large-push-2 columns">
        <div class="circle-bg quote-1">
          <p><font size =7>GIVE</font></p>
        </div>
      </div>
      <div class="large-6 large-pull-2 columns">
        <div class="circle-bg quote-2">
            <p><font size =7>TAKE</font></p>
        </div>
      </div>
    </div>
    <div class="button-group" data-grouptype="OR">
  <button href="#" class="small button primary radius">Give</button>
  <button href="#" class="small button success radius">Take</button>
</div>
  </body>
</html>
