<html>
  <head>
  </head>
  <body>
    Give and Take Items

    <div class="button-group" data-grouptype="OR">
  <button href="#" class="small button primary radius">Buy it now</button>
  <button href="#" class="small button success radius">Learn More</button>
</div>
  </body>
</html>
